body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #f5f5f5; 
    color: #333; 
}

header {
    background-color: #852020;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 10px;
}

#searchInput {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    max-width: 400px;
    border: 1px solid #852020; 
    background-color: #fff; 
    color: #333; 
}

#addRecipeBtn, #saveSelectedBtn {
    padding: 10px 20px;
    background-color: #852020; 
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    border-radius: 5px;
}

#addRecipeBtn:hover, #saveSelectedBtn:hover {
    background-color:#c55b5b; 
}

#feedbackBtn {
    padding: 10px 20px;
    background-color: #852020; 
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    border-radius: 5px;
    text-decoration: none; 
}

#feedbackBtn:hover {
    background-color: #c55b5b; 
}

#feedbackBtn a {
    color: white;
    text-decoration: none; 
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    max-height: calc(100vh - 180px);
    overflow-y: auto;
}

.menu-item {
    position: relative;
    padding: 15px;
    border: 1px solid #ddd; 
    border-radius: 5px;
    margin: 10px;
    background-color: #fff; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.menu-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

.menu-item h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #852020; 
}

.menu-item .price,
.menu-item .discount,
.menu-item .offer,
.menu-item .ingredients,
.menu-item .instructions {
    font-size: 0.9em;
    color: #333; 
    margin: 5px 0;
}

.menu-item .price {
    font-weight: bold;
}

.menu-item .discount {
    color: #852020; 
    font-weight: bold;
}

.menu-item .offer {
    background-color: #852020; 
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 0.9em;
    
}

.menu-item i {
    margin-right: 5px;
}

.menu-item:hover {
    background-color: #c55b5b; 
    transform: translateY(-5px);
}

.remove-recipe {
    background-color: #852020; 
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: absolute;
    top: 10px;
    right: 10px;
}

.remove-recipe:hover {
    background-color: #852020; 
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #ddd; 
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #852020; 
}

#closeModal {
    color: #333; 
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#closeModal:hover,
#closeModal:focus {
    color: #000; 
    text-decoration: none;
    cursor: pointer;
}

#recipeForm {
    display: flex;
    flex-direction: column;
}

#recipeForm input[type="text"],
#recipeForm textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd; 
    border-radius: 5px;
    font-size: 1em;
    background-color: #fff; 
    color: #333; 
}

#recipeForm button {
    padding: 10px;
    background-color: #852020; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#recipeForm button:hover {
    background-color: #852020; 
}

footer {
    background-color:#852020; 
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    #searchInput {
        width: 90%;
    }
}

/* Responsive Design .*/
@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #addRecipeBtn, #saveSelectedBtn, #feedbackBtn {
        width: 100%;
        margin: 5px 0;
    }

    .menu-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    #searchInput {
        width: 100%;
    }

    main {
        flex-direction: column;
        align-items: center;
    }

    .menu-item {
        width: 100%;
        margin: 10px 0;
    }

    .modal-content {
        width: 90%;
        padding: 15px;
    }
}
@media (max-width: 480px) {
    header h1 {
        font-size: 2em;
    }

    .menu-item {
        padding: 10px;
    }

    #recipeForm input[type="text"],
    #recipeForm textarea {
        font-size: 0.9em;
    }

    #recipeForm button {
        font-size: 0.9em;
    }

    footer {
        padding: 8px 0;
        font-size: 0.9em;
    }
}